/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title-conteiner{
    display: flex;
    justify-content: space-between;
    background-color: #e6e0e0;
    /* background-color:  #b8fff7; */
    padding-top: 2rem;
}

.title-carshop{
    padding-bottom: 2rem;
}

.title{
    padding-left: 2rem;
    text-decoration: none;
    font-size: 18px;
}

.title-principal:hover{
    color: #ccc;
    transition: 0.8s;
}

.carshop{
    padding-right: 3rem;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #1e1e1e;
}

.nav-conteiner{
    display: flex;
    background-color: #e6e0e0;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    padding-right: 2rem;
}

.nav-conteiner>li{
    margin-top: 2rem;
    padding-left: 1rem;
}

.principal-conteiner{
    background-color: #ccc;
    height: 90vh;
    width: 100vw;
}

.conteiner-img{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.link{
    text-decoration: none;
    color: #1e1e1e;
}

.links:hover{
    color: white;
    transition: 0.8s;
}

.img-principal{
    width: 95vw;
    height: 35vh;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

.subtitle-principal{
    padding-top: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    font-size: 2rem;
}

.text{
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    color:    #706c6c;
}


.subtitle-products{
    padding-top: 5rem;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.view-all{
    padding-left: 2rem;
    color: #1e1e1e;
}

.view-all:hover{
    color: #ccc;
    transition: 0.8s;
}

.products-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body{
    margin-top: 2rem;
    width: 18rem;
    height: 30rem;
    border: 1px solid #ccc;
}

.top-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-products{
    width: 20rem;
    height: 25rem;
}

.title-car{
    padding-top: 3rem;
    padding-left: 2rem;
    font-size: 1.4rem;
}

.products-conteiner-car{
    margin: 2rem;
    border: 1px solid #706c6c;
    height: 30rem;
}


.buttons{
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    display: flex;
}

.index-button{
    height: 2.5rem;
    width: 10rem;
    border: 1px solid #e6e0e0;
    border-radius: 0.5rem;
}

.button-pay{
    height: 2.5rem;
    width: 10rem;   
    color: #ccc;
    background-color: #433939; 
    border: 1px solid #e6e0e0;
    border-radius: 0.5rem;
}

.total{
    margin-left: 2rem;
    display: flex;
}

.total-item{
    padding-left: 0.5rem;
    padding-top: 3px;
}

.conteiner-footer{
    background-color: #e6e0e0;
    margin-top: 6rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    padding-bottom: 1rem;
}

.footer-card{
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.title-footer-card{
    color:  #433939;
    padding-bottom: 0.5rem;
}

.icon-footer{
    padding-left: 1rem;
    padding-top: 1rem;
}

.conteiner-icons{
    padding-top: 0.5rem;
}

.item-card-footer{
    display: flex;
}

.links-footer{
    color: #706c6c;
    padding-left: 0.5rem;
}

.creator-space{
    display: flex;
    padding-bottom: 1rem;
    justify-content: center;
}

.creator{
    padding-left: 0.5rem;
    color: #433939;
}

.rights-reserved{
    text-align: center;
    color: #433939;
}